<body id="index">
    <div class="container">
        <h1>游녦 Ol치!</h1>
        <p>Voc칡 est치 logado com sucesso.</p>
        <section id="calculadora">
            <h2>游빑 Calculadora</h2>
            <input type="number" id="num1" placeholder="N칰mero 1">
            <input type="number" id="num2" placeholder="N칰mero 2">
            <br>
            <button onclick="somar()">Somar</button> <button onclick="subtrair()">Subtrair</button>
            <button onclick="multiplicar()">Multiplicar</button> <button onclick="dividir()">Dividir</button>
            <p id="resultado"></p>
        </section>

        <hr>

        <a href="/logout">游뛁 Sair da conta</a>
        <footer>
            <p>
                &copy 춽SPESSOTO
            </p>
        </footer>
    </div>

    <script>
        function somar() {
            const a = parseFloat(document.getElementById('num1').value);
            const b = parseFloat(document.getElementById('num2').value);
            const res = a + b;
            document.getElementById('resultado').innerText = isNaN(res)
                ? "Digite dois n칰meros v치lidos."
                : "Resultado: " + res;
        }
        function subtrair() {
            const a = parseFloat(document.getElementById('num1').value);
            const b = parseFloat(document.getElementById('num2').value);
            const res = a - b;
            document.getElementById('resultado').innerText = isNaN(res)
                ? "Digite dois n칰meros v치lidos."
                : "Resultado: " + res;
        }
        function multiplicar() {
            const a = parseFloat(document.getElementById('num1').value);
            const b = parseFloat(document.getElementById('num2').value);
            const res = a * b;
            document.getElementById('resultado').innerText = isNaN(res)
                ? "Digite dois n칰meros v치lidos."
                : "Resultado: " + res;
        }
        function dividir() {
            const a = parseFloat(document.getElementById('num1').value);
            const b = parseFloat(document.getElementById('num2').value);
            const res = a / b;
            document.getElementById('resultado').innerText = isNaN(res)
                ? "Digite dois n칰meros v치lidos."
                : "Resultado: " + res;
        }
    </script>

</body>